<!DOCTYPE html>
<html ng-app="meetup">
  <head>
  <title>AngularJS - Controllers</title>
  <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
  <link href="css/application.css" rel="stylesheet" media="screen">
</head>
<body>
  
  <ul class="breadcrumb">
    <li><a href="index.html">Home</a> <span class="divider">/</span></li>
    <li class="active">Scopes</li>
  </ul>
  
  <div class="well">
    Root: {{pushed}}
  </div>

  <div ng-controller="ControllerA">

    <div class="well">
      A: {{pushed}}
    </div>
  
    <div class="well" ng-controller="ControllerB">
      B: {{pushed}}<br />
      <button class="btn" ng-click="push()">Toggle</button>
    </div>
  
    <div class="well" ng-controller="ControllerC">
      C: {{pushed}}<br />
      <button class="btn" ng-click="push()">Toggle</button>
    </div>
    
  </div>

  <script type="text/javascript" src="js/jquery.min.js"></script>
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/angular.min.js"></script>
  <script type="text/javascript">

  var meetup =  angular.module('meetup', []);
  
  ControllerA = function($rootScope, $scope) {
    $rootScope.pushed = true;
    $scope.pushed = false;
  }

  ControllerB = function($rootScope, $scope) {
    $scope.pushed = true;
    $scope.push = function() {
      $rootScope.pushed = !$rootScope.pushed;
      $scope.$parent.pushed = !$scope.$parent.pushed;
      $scope.pushed = !$scope.pushed;
    }
  }

  ControllerC = function($rootScope, $scope) {
    $scope.pushed = false;
    $scope.push = function() {
      $rootScope.pushed = !$rootScope.pushed;
      $scope.$parent.pushed = !$scope.$parent.pushed;
      $scope.pushed = !$scope.pushed;
    }
  }

  </script>

</body>
</html>